<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <p style="color: green"><%= notice %></p>
      <div class="title d-flex justify-content-between">
        <div class="title-main">
          <h1 class="display-5 fw-bold">
            <i class="bi bi-house"></i> Rooms </h1>
        </div>
        <div class="user-info d-flex">
          <p class="mt-2">Logged in as: <%= current_user.email %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete , class:'btn btn-danger btn-sm mt-1 mx-3'%>
          </p>
        </div>
      </div>
      <div class="container">
        <div id="rooms" class="mt-3">
          <% if @rooms.count > 0 %>
            <hr>
            <% @rooms.each do |room| %>
              <div class="card p-5 ">
                <h3 class="display-6 fw-thin text-decoration-n "><%= link_to room.name.capitalize, room%> - <small class="text-danger "><%= pluralize(room.messages.count, 'message' )%></small>
                </div>
                <br>
              <% end %>
              <hr>
            </div>
          <% else %>
            <div class="card p-5">
              <h3 class="text-muted"> <i class="bi bi-bug"></i> No Rooms Found! Add a <a href="/rooms/new">Room</a> to display!</h3>
            </div>
          <% end %>
        </div>
        <div class="link mt-3">
          <%= link_to "New room", new_room_path, class: 'btn btn-primary btn-lg ' %>
        </div>
      </div>
    </div>
  </div>
